* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** HEADER ****/

header {
    padding: 5px 0;
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header .heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1600px;
    margin: 0 20px;
}



nav ul.nav_list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_list .nav_item {
    padding: 5px 0 5px 46px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    color: #674223;
    cursor: pointer;
    letter-spacing: 1px;
}

.nav_list .nav_item:hover a {
    border-bottom: 1px solid #674223;
}

.nav_list .nav_item a {
    text-decoration: none;
    color: inherit;
}

.mobile_hamburguer {
    display: none;
    cursor: pointer;
}

.mobile_hamburguer .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #42210B;
}

/**** END ****/


/**** MAIN ****/

main.main_container {
    margin-top: 108px;
    background-color: #fffbf5;
    height: 100%;
}

/**** END ****/



/**** FOOTER ****/

footer {
    background-color: #8b795d;
}

.footer_container {
    padding: 30px 15px;
}

.footer_container ul {
    list-style: none; 
}

.footer_container a {
    text-decoration: none;
}

.footer_container .footer_content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    padding: 30px 0;
    margin: 0 auto;
}

.footer_content .footer_headers {
    color: #42210B;
}

.address a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    letter-spacing: 2px;
    color: #000000;
    line-height: 30px;
}

.address svg {
    width: 100%;
    max-width: 22px;
}

.footer_nav_item:nth-child(n+2) {
    padding-top: 20px;
}

.footer_nav_item a {
    color: #42210B;
    letter-spacing: 2px;
    font-weight: 600;
}

.footer_nav_item a:hover {
    border-bottom: 1px solid #42210B;
}

.social_media  .footer_headers{
    text-align: center;
    padding-bottom: 20px;
}

.social_media ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social_item img {
    width: 35px;
}


/**** END ****/



/**** HOME ****/

.home .banner_container {
    display: flex;
    position: relative;
    overflow: hidden;
}

.home .banner {
    padding: 40px 20px 0;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex: 0 0 100%;
    transition: transform 0.5s ease-in-out;
}

.banner_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.banner_text .text {
    margin-bottom: 70px;
}

.banner_text h1,
.banner_text h3,
.banner_text p {
    font-weight: 500;
    letter-spacing: 1px;
}

.banner_text .text h1 {
    color: #42210B;
    font-size: 70px;
}

.banner_text h3 {
    text-align: end;
    color: #8C6239
}

.banner_text p {
    width: 100%;
    max-width: 700px;
    text-align: justify;
    text-align-last: center;
    margin-bottom: 70px;
    color: #8C6239
}

.banner_image img {
    width: 100%;
    max-width: 315px;
    border-radius: 45% 45% 0 0;
}

.main_button button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #8C6239;
    border: 1px solid #8C6239;
    color: #fff;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.main_button button:hover {
    background-color: #674223;
}

.banner_nav_buttons button {
    position: absolute;
    top: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.banner_nav_buttons .prev_button {
    left: 0;
}

.banner_nav_buttons .next_button {
    right: 0;
}

.banner_nav_buttons button::before {
    content: "";
    height: 30px;
    width: 30px;
    border-left: 3px solid #707070;
    border-bottom: 3px solid #707070;
    transform-origin: center;
    position: absolute;
}

.banner_nav_buttons .prev_button::before {
    transform: translate(-50%, -60%) rotate(45deg);
} 
.banner_nav_buttons .next_button::before {
    transform: translate(-50%, -60%) rotate(-136deg);
}

.about_instituto_container {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 100px 20px 0;
}

.about_instituto_texting {
    padding: 10px 20px 20px 40px;
}

.about_instituto_texting .about_text {
    width: 100%;
    max-width: 600px;
}

.about_instituto_carousel {
    width: 100%;
    max-width: 400px;
}

.carousel img {
    width: 100% !important;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
}

.about_instituto_texting .about_text h3 {
    margin-bottom: 25px;
    color: #42210B;
}

.about_instituto_texting .about_text p {
    text-align: justify;
    letter-spacing: 0.5px;
    line-height: 30px;
}

.slick-next {
    right: 12px;
}

.slick-prev {
    left: 6px;
    z-index: 999;
}

.slick-prev:before, .slick-next:before {
    color: #000000;
    font-size: 28px;
}

.our_services_container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.our_services_container .services {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0 15px;
}

.our_services_container .service {
    width: 100%;
    max-width: 300px;
    text-align: center;
    padding: 25px;
    background-color: #aa8e5e;
    border: 1px solid #8c6239;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.our_services_container .service_text {
    text-align: center;
    color: #42210B;
    margin-bottom: 25px;
}

.our_services_container .service h4,
.our_services_container .service p {
    margin-bottom: 15px ;
}

/**** END ****/



/**** FAQ ****/


.faq_wrapper {
    max-width: 75%;
    margin: auto;
    padding: 40px 0;
}

.faq_wrapper > h1 {
    margin-bottom: 2.5rem;
    text-align: center;    
}

.faq_wrapper > h1 {
    letter-spacing: 3px;
    font-weight: 500;
}


.accordion {
    background-color: white;
    color:rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    gap: 15px;
}

.accordion i {
    font-size: 1.6rem;
}

.accordion.active, 
.accordion:hover {
    background-color: #f1f7f5;

}

.pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
}

.pannel p {
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.4;
}

.faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}

.faq.active {
    border: none;
}

.rotate {
    transform: rotate(180deg);
}


/**** END ****/


/**** CONTATO ****/

#contact {
    padding: 40px 0;
}

#contact img {
    max-width: 40px;
}

#contact .contact_option button {
    font-size: 18px;
    min-width: 120px;
}

.contact_wrapper {
    max-width: fit-content;
    margin: 0 auto;
    padding: 0 20px;
}

.contactHeading {
    text-align: center;
    margin-bottom: 50px;
    line-height: 36px;
}

.contactHeading h2 {
    color: #000000;
    font-weight: 500;
    letter-spacing: 2px;
}

.contactHeading p {
    color: #000000;
    letter-spacing: 1px;
}

.contact_option {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    gap: 20px;
    border: 1px solid #8C6239;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}


/**** END ****/


/**** CONTATO ****/

#contactFormWrapper {
    text-align: center;
    margin-top: 50px;
}

#contactFormWrapper h3 {
    padding-bottom: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}


#contactForm {
    display: flex;
    align-items: self-start;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-width: 400px;
}

#contactForm .inputWrapper {
    width: 100%;
}


#contactForm input,
#contactForm textarea {
    width: 100%;
    padding: 10px;
    font-size: 17px;
    font-family: 'Lora', serif;
    letter-spacing: 1px;
    border-radius: 7px;
    border: 1px solid grey;
    resize: none;
    line-height: 26px;
}

#contactForm input:focus,
#contactForm textarea:focus {
    outline: none;
}

#contactForm button {
    width: 100%;
}

#contactForm button:disabled {
    opacity: 0.5;
    cursor: not-allowed; 
}


#form_sent_popup_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 9999; /* Ensure it's above other content */
    display: none;
    justify-content: center;
    align-items: center;
}

#form_sent_popup {
    background-color: #fff;
    padding: 60px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    margin: 0 10px;
    position: relative;
    text-align: center;
}

#form_sent_popup h2,
#form_sent_popup  h4 {
    font-weight: 600;
    letter-spacing: 1px;
}

#form_sent_popup .positive::before {
    content: "";
    height: 20px;
    width: 44px;
    border-left: 12px solid #44cd6a;
    border-bottom: 12px solid #44cd6a;
    transform-origin: center;
    display: block;
    transform: rotate(-45deg);
}


.close_popup {
    position: absolute;
    top: 14px;
    right: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.close_popup:before,
.close_popup:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 26px;
    background-color: #333;
}

.close_popup:before {
    transform: rotate(45deg);
}

.close_popup:after {
    transform: rotate(-45deg);
}


/**** END ****/



@media screen and (max-width: 1100px) {

    .banner_text .text,
    .banner_text p {
        margin-bottom: 50px;
    }
    .banner_text .text h1  {
        font-size: 50px;
    }
}


/***** TABLET MEDIA QUERY *****/

@media screen and (max-width: 992px) {
    .banner_text .text h1 {
        font-size: 40px;
    }

    .banner_text .text,
    .banner_text p {
        margin-bottom: 40px;
    }

    .about_instituto_container {
        align-items: center;
    }

    .nav_list .nav_item {
        padding-left: 30px;
    }

    header .heading {
        margin: 0 16px;
    }
}
/**** END ****/



/***** MOBILE MEDIA QUERY *****/

@media only screen and (max-width: 768px) {
    
    /** HEADER **/

    .mobile_hamburguer {
        display: block;
    }

    .mobile_hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .mobile_hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .mobile_hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav_list {
        position: fixed;
        left: -100%;
        top: 69px;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100vw;
        text-align: center;
        transition: 0.3s;
    }

    .nav_list .nav_item {
        margin: 16px 0;
        padding: 10px 0;
    }

    .nav_list.active {
        left: 0;
    }

    /** END **/


    /** FOOTER **/

    .footer_container .footer_content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer_content .footer_menu,
    .footer_content .location {
        margin-bottom: 40px;
    }

    /** END **/



     /** BANNER **/

     .banner_text .text h1 {
        font-size: 30px; 
    }

    .banner_text .text h3 {
        font-size: 15px;
    }

    .home .banner {
        flex-direction: column;
        padding: 40px 0 0;
    }

    .banner.first-banner img,
    .banner.second-banner img {
        display: none;
    }

    .banner.first-banner .banner_image{
        height: 350px;
        background: url(images/banner-clinic.jpg) center/cover no-repeat;
        width: 100vw;
    }

    .banner.second-banner .banner_image{
        height: 350px;
        background: url(images/banner-study.jpg) center/cover no-repeat;
        width: 100vw;
    }

    .main_button button,
    .banner_text .text,
    .banner_text p {
        margin-bottom: 40px;
    }

    .banner_nav_buttons button {
        top: 47%; 
    }


    .main_button button {
        font-size: 17px; 
    }

    /** END **/


    /** O INSTITUTO **/

    .about_instituto_container {
        flex-direction: column-reverse;
        padding: 100px 0px 0;
    }

    .about_instituto_texting {
        padding: 20px;
        text-align: center;
    }

    .about_text p {
        text-align-last: center;
    }

    .about_instituto_carousel {
        margin: 0 auto;
    }

    .carousel img {
        width: 100vw !important;
        max-height: 350px;
    }

    .our_services_container .services {
        flex-direction: column;
    }

    /** END **/

    /** CONTATO **/

    .contact_option a.main_button button{
        margin: 0;
    }

    /** END **/
}

/**** END ****/

/*** DEFAULT FONT FAMILY AND SIZES ***/

.main_font h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.main_font h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.main_font h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.main_font h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}

.main_font h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.main_font h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.main_font p {
    font-size: 18px
}

.main_font p,
.main_font button,
.main_font li,
.main_font a {
    font-family: 'Lora', serif;
}

@media only screen and (max-width: 992px) {
    .main_font h1 {
        font-size: 38px;
    }
    
    .main_font h2 {
        font-size: 30px;
    }
    
    .main_font h3 {
        font-size: 22px;
    }
    
    .main_font h4 {
        font-size: 18px;
    }
    
    .main_font h5 {
        font-size: 15px;
    }
    
    .main_font h6 {
        font-size: 12px;
    }
    
    .main_font p {
        font-size: 17px
    }
}


@media only screen and (max-width: 767px) {
    .main_font h1 {
        font-size: 35px;
    }
    
    .main_font h2 {
        font-size: 29px;
    }
    
    .main_font h3 {
        font-size: 21px;
    }
    
    .main_font h4 {
        font-size: 17px;
    }
    
    .main_font h5 {
        font-size: 15px;
    }
    
    .main_font h6 {
        font-size: 12px;
    }
    
    .main_font p {
        font-size: 16px;
    }
}

/*** END ***/